@*The GPLv3 License (GPLv3)

Copyright (c) 2023 Ciubix8513

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.*@

@inject ILocalStorageService _localStrageService
@inject IApiLogic _apiLogic
@inject AuthenticationStateProvider _authStateProvider ;
@code
{
    //Void async func
   private async Task OnNavigateAsync(NavigationContext args)
   {
        var auth = await _localStrageService.GetItemAsync<string>("isauthenticated");
        //as used for reference types (non structs) does not throw null reference exception
        var user = (await (_authStateProvider as CustomAuthProvider)
.GetAuthenticationStateAsync()).User;
        //Check if the cookie is empty
        if(!(!string.IsNullOrEmpty(auth) && !user.Identity.IsAuthenticated))
            return;
        var response = await _apiLogic.UserProfileAsync();
        if(response.Message == "Success")
        (_authStateProvider as CustomAuthProvider).SetAuthInfo(response.userProfile);
        else if(response.Message == "Unauthorized")
            await _localStrageService.RemoveItemAsync("isauthenticated");
   } 
}
<CascadingBlazoredModal Class="custom-modal">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</CascadingBlazoredModal>